.control-container {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "choice choice_control";
}
.choice {
  grid-area: choice;
}
.choice_control {
  grid-area: choice_control;
}