.control-container {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 2fr;
  grid-template-areas:
    "choices sliders"
    "variable_slider variable_slider";
}
.choices {
  grid-area: choices;
}
.sliders {
  grid-area: sliders;
}
.variable_slider {
  grid-area: variable_slider;
}