.control-container {
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: 2fr;
  grid-template-areas:
    "choices sliders"
    "variable_slider variable_slider";
}
.choices {
  grid-area: choices;
}
.sliders {
  grid-area: sliders;
}
#choice_creature {
  display: grid;
  grid-template-columns: 1fr 1fr;
}