.editor {
  width: 85%;
  border: 4px solid var(--primary-muted-color);
  padding: 10px;
  font-family: Courier, 'Courier New', monospace;
  color: greenyellow;
  height:200px;
  resize: none;
  background-color: rgb(10, 10, 10);
  font-size: 17px;
}

.split-sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}